* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ececec;
    width: 100%;
}

header{
    text-align: center;
    padding: 30px;
    font-size: 50px;
    font-weight: 700;
    color: rgb(63, 61, 61);
}

section {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 25px;
    background-color: #f6f6f6;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.draw-area {
    height: 530px;
    width: 530px;
    border: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
}

.block-row {
    flex: auto;
    display: flex;
    flex-direction: row;
}

.block { 
    flex: auto;
    border: 1px solid #0000000a;
    background-color: #ffffff;
    user-select: none;
}

.block:hover {
    background-color: #e2e2e2;
}

.side-panel {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    flex: 0 0 150px;
    padding: 40px 20px 0px;
}

#color-changer {
    width: 90px;
    height: 90px;
    border: none;
    border-radius: 50px;
    margin-bottom: 20px;
}

#color-changer:hover {
    transform: scale(1.05);
}

input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
  }
  
input[type=color]::-webkit-color-swatch-wrapper {
      padding: 0;
}


#color,
#rainbow,
#clear, 
#eraser {
    width: 130px;
    padding: 5px;
    font-size: 16px;
    border-radius: 7px;
    border: .04em solid #636161;
}

#color:hover,
#rainbow:hover,
#clear:hover, 
#eraser:hover {
    transform: scale(1.07);
}

#clear{
    color: rgb(249, 73, 73);   
}

#clear:active{
    border: 1px solid rgb(198, 59, 59);
    box-shadow: 0px 0px 1px 1px red;
}


label {
    align-self: flex-start;
    font-size: 16px;
    margin: 10px 0px -10px 10px ;
}

#block-slider {
    accent-color: rgb(99, 97, 97);
}


.footer {
    text-align: center;
    padding-top: 25px;
}

.btn-selected {
    background-color: #3d3d3d;
    color: #efefef;
}
